*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 42, 42);
    cursor: none;
}
:root{
    --x:700px;
    --y:400px;
}
main{
    width: 100%;
    height: 100%;
    position: relative;
    .div{
        width: 100%;
        height: 100%;
    .video{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    }
}
   .box{
    width: 100%;
    height: 100%;
    background: radial-gradient(150px at var(--x) var(--y),rgba(0, 0, 0, 0.248) 100%, rgb(0, 0, 0)50%);
    position: absolute;
    z-index: 100;
    top: 0;
        left: 0;
        z-index: 100;
        pointer-events: none;
   }
}