*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 42, 42);
    cursor: none;
}
:root{
    --x:700px;
    --y:400px;
}
main{
    width: 100%;
    height: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/62/Berkeley-San_Francisco-Oakland--Sunset-Panorama.jpg');
    background-size: cover;
    background-position: center;
    object-fit: contain;
   .box{
    width: 100%;
    height: 100%;
    background: radial-gradient(150px at var(--x) var(--y),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.94));
   }
}